/* Section: Heroes */
.heroes {
	@apply overflow-x-clip;

	&-content {
		@apply relative py-16 lg:py-[clamp(8rem,20vh,16rem)];

		.title {
			@apply text-center text-3xl font-bold text-black dark:text-white sm:text-4xl md:text-5xl lg:text-6xl 2xl:text-7xl;

			.cursor {
				@apply font-normal not-italic text-stroke-light dark:text-stroke-dark;
			}
		}

		.description {
			@apply mx-auto mt-4 max-w-[360px] text-center lg:max-w-full;
		}

		.buttons {
			@apply mx-auto mt-8 flex w-max flex-col flex-wrap gap-3 sm:w-auto sm:flex-row sm:justify-center;
		}

		.leaf {
			@apply absolute -z-1 size-12 md:size-16 lg:size-20 xl:size-24;

			&-green {
				@apply -left-[5%] top-[20%] md:left-[8%] xl:left-[13%];
			}

			&-orange {
				@apply -right-[5%] top-[10%] md:right-[6%] lg:right-[10%] 2xl:right-[15%];
			}

			&-blue {
				@apply -right-[2%] bottom-[25%] xs:right-[4%] sm:bottom-0 sm:right-[15%] lg:bottom-[20%] lg:right-[20%] 2xl:right-[26%];
			}
		}
	}
}

/* Section: Companies */
.companies {
	@apply overflow-x-hidden;

	&-heading {
		@apply mb-6 text-center text-base lg:mb-10 lg:text-lg;

		> strong {
			@apply block font-normal text-black dark:text-white md:inline;
		}
	}

	&-logos {
		@apply relative mx-auto flex max-w-[1920px] overflow-hidden;

		&::after {
			content: "";
			@apply pointer-events-none absolute inset-0 h-full bg-[linear-gradient(90deg,#ffffff_3%,rgba(255,255,255,0)_50%,#ffffff_97%)] dark:bg-[linear-gradient(90deg,#141518_0%,rgba(20,21,24,0)_50%,#141518_100%)];
		}
	}

	&-track {
		@apply flex min-w-full flex-shrink-0 flex-grow-0 items-center justify-around gap-x-8 whitespace-nowrap will-change-transform;
	}

	&-logo {
		@apply h-12 w-full max-w-28 shrink-0 sm:max-w-36 xl:max-w-40;

		> img {
			@apply h-full w-full select-none object-scale-down opacity-50 invert dark:opacity-100 dark:invert-0;
		}
	}
}

/* Section: Advantages */
.advantages {
	@apply relative overflow-hidden;

	&-heading {
		@apply text-center;

		.title {
			@apply inline-block text-4xl font-bold sm:text-5xl xl:text-6xl;

			/* Gradient */
			background: linear-gradient(90deg, #83c933 0%, #59cb58 14.29%, #1ecb79 28.57%, #00c997 42.86%, #00c5b1 57.14%, #00c0c5 71.43%, #00bad2 85.71%, #40b3d8 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
		}
	}

	&-grid {
		@apply -mx-[50vw] grid grid-flow-col gap-x-8 gap-y-12 overflow-x-auto px-[50vw] md:mx-0 md:grid-flow-row md:grid-cols-2 md:px-0 xl:grid-cols-3 xl:gap-x-12 xl:gap-y-16;
	}

	&-item {
		@apply w-72 last:pr-4 md:w-auto md:last:pr-0;

		.icon {
			@apply flex size-12 items-center justify-center rounded-lg border bg-white dark:bg-body;

			> svg {
				@apply size-[1.75rem];
			}
		}

		.title {
			@apply mt-6 text-xl font-bold lg:text-2xl;
		}

		.description {
			@apply mt-3 max-h-52 overflow-y-auto md:max-h-full;

			ul {
				@apply list-disc pl-6;
			}
		}

		&--orange {
			.icon {
				@apply border-orange/25;

				> svg {
					@apply fill-orange;
				}
			}
		}

		&--green {
			.icon {
				@apply border-green/25;

				> svg {
					@apply fill-green;
				}
			}
		}

		&--blue {
			.icon {
				@apply border-blue/25;

				> svg {
					@apply fill-blue;
				}
			}
		}
	}

	&-circles {
		@apply pointer-events-none absolute left-1/2 top-6 -z-1 -translate-x-1/2 select-none fill-none sm:top-14 xl:top-24;
	}
}

/* Section: Features */
.features {
	@apply overflow-hidden;

	&-wrapper {
		@apply relative lg:grid lg:grid-cols-12 lg:gap-x-12;
	}

	&-nav {
		@apply relative col-span-5 hidden gap-x-6 self-start lg:grid lg:before:absolute lg:before:inset-y-0 lg:before:left-0 lg:before:block lg:before:h-full lg:before:w-[1px] lg:before:bg-stroke-light lg:dark:before:bg-stroke-dark;

		&-item {
			@apply relative cursor-pointer py-3 lg:pl-8 xl:pl-11;

			.progress {
				@apply invisible absolute -left-[2px] top-0 z-1 h-full w-[5px] bg-[#E7E7E7] dark:bg-stroke-dark;

				&-thumb {
					@apply absolute inset-x-0 top-0 z-2 h-full origin-top scale-y-0 bg-green transition-transform;
				}

				@keyframes featureProgress {
					0% {
						transform: scaleY(0);
					}
					100% {
						transform: scaleY(1);
					}
				}
			}

			.heading {
				@apply opacity-20 transition-opacity hover:opacity-40;

				&-title {
					@apply text-base md:text-xl xl:text-2xl;
				}

				&-descr {
					@apply mt-2 lg:hidden;
				}
			}
		}

		.swiper-pagination-bullet-active {
			.features-nav-item {
				@apply cursor-default;

				.progress {
					@apply visible;

					&-thumb {
						animation: featureProgress var(--animation-duration) linear both;
					}
				}

				.heading {
					@apply opacity-100;

					&-descr {
						@apply block;
					}
				}
			}

			&._is-paused {
				.features-nav-item {
					.progress-thumb {
						animation-play-state: paused;
					}
				}
			}
		}

		&._is-stopped {
			.features-nav-item .progress-thumb {
				@apply transform-none animate-none transition-none;
			}
		}
	}

	&-tabs {
		@apply mb-10 lg:hidden;

		.swiper-slide {
			@apply h-auto;

			&-active {
				.features-tabs-item {
					@apply opacity-100;
				}
			}
		}

		&-item {
			@apply h-full rounded-2xl border border-stroke-light bg-[#F8F8F8] p-4 opacity-40 transition-opacity hover:opacity-60 dark:border-stroke-dark dark:bg-dark;

			.title {
				@apply text-base font-bold;
			}

			.description {
				@apply mt-2 text-[0.8125rem];
			}
		}
	}

	&-content {
		@apply relative max-w-full lg:col-span-7 lg:col-start-6;

		.prose {
			@apply max-w-full text-lightgray dark:text-gray;
		}

		.code {
			@apply overflow-hidden rounded-2xl border border-stroke-light dark:border-stroke-dark;

			&-header {
				@apply flex h-10 items-center justify-between gap-x-4 border-b border-stroke-light bg-[#F8F8F8] px-4 dark:border-stroke-dark dark:bg-dark md:h-12 md:px-6;

				&-title {
					@apply truncate text-base font-normal text-lightgray dark:text-white;
				}

				&-dots {
					@apply shrink-0;
				}
			}

			&-body {
				@apply bg-white p-4 dark:bg-dark md:p-6;

				pre {
					@apply m-0 bg-transparent p-0;

					code {
						@apply block max-h-96;
					}
				}
			}
		}
	}

	&-squares {
		@apply pointer-events-none absolute -right-80 -top-44 -z-1 hidden scale-75 select-none fill-none lg:block 2xl:-right-72 2xl:scale-100;
	}
}

/* Section: Technologies */
.technologies {
	@apply pt-16 md:pt-3;

	&-header {
		@apply relative mb-4 flex items-center justify-between md:-mb-10 lg:-mb-20;

		&-picture {
			@apply pointer-events-none relative -z-1 hidden h-52 select-none md:block lg:h-80 2xl:h-[25rem];
		}
	}

	&-item {
		@apply grid grid-cols-1 gap-x-8 gap-y-6 py-6 md:grid-cols-[auto,1fr] md:py-8;

		.ready {
			@apply md:w-52 lg:w-64 xl:w-80 2xl:w-[22.75rem];

			&-value {
				@apply inline-block text-5xl sm:text-6xl lg:text-7xl xl:text-8xl;
			}
		}

		.heading {
			&-title {
				@apply text-xl font-bold lg:text-2xl;
			}

			&-descr {
				@apply mt-3;
			}
		}

		&:not(:last-child) {
			@apply border-b border-stroke-light dark:border-stroke-dark;
		}

		&:nth-child(1) {
			.ready-value {
				background: linear-gradient(90deg, #83c933 0%, #00c7a5 25%, #40b3d8 100%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				text-fill-color: transparent;
			}
		}

		&:nth-child(2) {
			.ready-value {
				background: linear-gradient(90deg, #83c933 0%, #00c7a5 50%, #40b3d8 100%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				text-fill-color: transparent;
			}
		}

		&:nth-child(3) {
			.ready-value {
				background: linear-gradient(90deg, #83c933 0%, #00c7a5 75%, #40b3d8 100%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				text-fill-color: transparent;
			}
		}
	}
}

/* Section: Testimonials */
.testimonials {
	@apply relative overflow-hidden;

	&-heading {
		@apply md:text-center;
	}

	&-grid {
		@apply -mx-[50vw] flex gap-6 overflow-x-auto px-[50vw] lg:mx-0 lg:grid lg:grid-cols-3 lg:gap-8 lg:px-0;

		&-col {
			@apply flex items-start gap-6 lg:flex-col lg:items-stretch lg:gap-8;
		}
	}

	&-item {
		@apply w-72 rounded-2xl border border-stroke-light bg-[#F8F8F8] p-6 dark:border-stroke-dark dark:bg-dark lg:w-full;

		.speech {
			@apply max-h-60 overflow-y-auto lg:max-h-full;
		}

		.author {
			@apply mt-6 flex items-center gap-x-4;

			&-photo {
				@apply size-12 shrink-0 rounded-full;
			}

			&-main {
				@apply grow;

				.name {
					@apply text-base font-bold text-black dark:text-white;
				}

				.social {
					@apply text-sm text-lightgray dark:text-gray;
				}
			}
		}
	}

	&-community {
		@apply py-10 lg:py-16;

		&-heading {
			@apply text-center text-2xl font-bold text-black dark:text-white lg:text-3xl;

			.yii-logo {
				@apply relative -top-1 inline-flex items-center gap-x-2.5 align-middle;
			}

			svg {
				@apply inline h-8 w-6 lg:h-12 lg:w-[2.375rem];
			}
		}

		&-descr {
			@apply mt-3 text-center;
		}

		&-btn {
			@apply mt-6 text-center;
		}
	}

	&-heart {
		@apply pointer-events-none absolute left-1/2 top-6 -z-1 -translate-x-1/2 select-none fill-none opacity-35 dark:opacity-25 sm:top-10;
	}
}
