/* Section: Heroes */
.heroes {
	&-content {
		@apply py-[20vh];

		.title {
			@apply text-center text-3xl font-bold text-black dark:text-white xs:text-4xl sm:text-5xl lg:text-6xl 2xl:text-7xl;
		}

		.description {
			@apply mt-3 text-center;
		}

		.buttons {
			@apply mx-auto mt-8 flex w-max flex-col flex-wrap gap-3 sm:w-auto sm:flex-row sm:justify-center;
		}
	}
}

/* Section: Companies */
.companies {
	@apply overflow-x-hidden;

	&-heading {
		@apply mb-6 text-center text-base lg:mb-10 lg:text-lg;

		> strong {
			@apply font-normal text-black dark:text-white;
		}
	}

	&-logos {
		@apply relative flex items-center justify-center gap-x-8 whitespace-nowrap sm:gap-x-16 lg:gap-x-24 2xl:gap-x-32;

		&::after {
			@apply pointer-events-none absolute inset-0 h-full;
			content: "";
			background: linear-gradient(90deg, #ffffff 3%, rgba(255, 255, 255, 0) 50%, #ffffff 97%);
		}
	}

	&-logo {
		@apply h-12 max-w-32 shrink-0 sm:max-w-36 xl:max-w-40;

		> img {
			@apply h-full w-full select-none object-scale-down opacity-50 invert dark:opacity-100 dark:invert-0;
		}
	}
}

/* Section: Advantages */
.advantages {
	@apply overflow-x-hidden;

	&-heading {
		@apply mb-10 text-center lg:mb-12;

		.title {
			@apply inline-block text-4xl font-bold sm:text-5xl xl:text-6xl;

			/* Gradient */
			background: linear-gradient(90deg, #83c933 0%, #59cb58 14.29%, #1ecb79 28.57%, #00c997 42.86%, #00c5b1 57.14%, #00c0c5 71.43%, #00bad2 85.71%, #40b3d8 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
		}
	}

	&-wrapper {
		@apply -mx-4 overflow-x-auto px-4 md:mx-0 md:px-0;
	}

	&-grid {
		@apply grid grid-flow-col gap-x-8 gap-y-12 md:grid-flow-row md:grid-cols-2 xl:grid-cols-3 xl:gap-x-12 xl:gap-y-16;
	}

	&-item {
		@apply w-80 last:pr-4 md:w-auto md:last:pr-0;

		.icon {
			@apply flex size-12 items-center justify-center rounded-lg border;

			> svg {
				@apply size-[1.75rem];
			}
		}

		.title {
			@apply mt-6 text-xl font-bold lg:text-2xl;
		}

		.description {
			@apply mt-3;
		}

		&--orange {
			.icon {
				@apply border-orange/25;

				> svg {
					@apply fill-orange;
				}
			}
		}

		&--green {
			.icon {
				@apply border-green/25;

				> svg {
					@apply fill-green;
				}
			}
		}

		&--blue {
			.icon {
				@apply border-blue/25;

				> svg {
					@apply fill-blue;
				}
			}
		}
	}
}
