/* General CSS */
[x-cloak] {
	@apply !hidden;
}

::selection {
	@apply bg-black text-white;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	@apply scroll-smooth;
}

body {
	@apply relative overflow-x-hidden bg-white text-lightgray;
	min-width: 320px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	@apply inline-block text-black transition-all hover:text-blue;
}

p + p {
	@apply mt-2;
}

b,
strong {
	@apply font-semibold;
}

button {
	@apply transition-all;
}

svg {
	@apply flex-shrink-0 fill-current;
}

pre {
	@apply max-w-full overflow-auto;
}

section {
	@apply relative;
}
