<!doctype html>
<html lang="ru">

<head>
	<meta charset="utf-8" />
	<title>{{ title }}</title>
	<meta name="description" content="PHP фреймворк для быстрого создания современных приложений." />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />

	<!-- Theme settings -->
	<link rel="icon" type="image/png" href="./images/favicon/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/svg+xml" href="./images/favicon/favicon.svg" />
	<link rel="shortcut icon" href="./images/favicon/favicon.ico" />
	<link rel="apple-touch-icon" sizes="180x180" href="./images/favicon/apple-touch-icon.png" />
	<meta name="apple-mobile-web-app-title" content="Yii3" />
	<link rel="manifest" href="./images/favicon/site.webmanifest" />

	<!-- Google fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
		rel="stylesheet">
</head>

<body>
	<!-- Site header -->
	<header class="header">
		<div class="container">
			<div class="header-inner">
				<div class="header-logo">
					<a href="index.html" class="header-logo-link" rel="home">
						<img src="./images/yii3-logo-light.svg" class="header-logo-light" alt="Yii 3" />
						<img src="./images/yii3-logo-dark.svg" class="header-logo-dark" alt="Yii 3" />
					</a>
				</div>
			</div>
		</div>
	</header>